{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<h1>About</h1>
</div>

<p>Call to Code is a Google sponsored online competition open to students aged 13-18, specifically in Ireland. This friendly competition includes both logic puzzles and programming tasks designed specifically for junior level and senior level cycles, respectively. </p>
<p>Students will be ranked publicly on our leaderboard by username and score in real time during the competition. Score is determined by correct answers and the time it takes to complete each question/problem.</p>
<p>Students sign-up through their teacher, obtain parental consent [link to the form], and come back to our site to participate during Round 1. </p>
<p>Round 1 of our online competition will be on March 31st, 2014 between the hours of x and y. Winners of Round 1 will qualify to advance to Round 2 which will take place in person at our Google Dublin office on May 1, 2014 from 12-5 pm. Winners of Round 2 will be announced on-site on the day of the competition and posted to our website. </p>
<p>Everyone in Ireland between the ages of 13 and 18 is encouraged to participate. You do not need to have a background in programming to partake at the early stages, although qualifying will more than likely require some programming skill. </p>

{% endblock content %}