<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <meta charset="utf-8"/>
        <title>{% block title %}Starter{% endblock %}</title>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script src="/static/scripts/respond.min.js"></script>
		<![endif]-->
        <link rel="stylesheet" href="/static/css/style.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" media="all" />
    </head>

    <body>

        <div class="container">

            <div class="row">

				<div class="col-sm-3 text-center hidden-xs" id="left-rail">
					{% block leftrail %}
						<img src="/static/images/logo-call-to-code.png" style="margin-top:4em;max-width:100%;">

						<div style="position:absolute;bottom:1em;text-align:center;width:90%;">
							<div id="countdown-timer">
								<h3>Countdown</h3>
								<p>Get ready to code in</p>

								<div class="day1">3</div>
								<div class="day2">5</div>
								<div style="background-image:none;width:.25em;">:</div>
								<div class="hour1">0</div>
								<div class="hour2">9</div>
							</div>
							<div class="row">
								<div class="col-sm-4 col-sm-offset-2">Days</div>
								<div class="col-sm-4 text-center">Hours</div>
							</div>

							<div class="row">
								<div class="col-sm-11 col-sm-offset-1 text-center" style="padding:1em 0;">
									<div class="g-plusone" style="min-height:29px;"></div>
								</div>
							</div>
							<a href="/about">About</a> | <a href="/privacy-policy">Privacy Policy</a> | <a href="/rules">Rules</a><br>
						</div>
                    {% endblock leftrail %}
                </div>

				<div class="col-sm-9" id="main-content">
                    {% block menu %}
                        <div class="row" style="padding:.5em 0;">
                            <div class="col-sm-8">
                                {% if user == None %}
                                    <a href="{{ login_url }}">Sign in</a> or <a href="{{ login_url }}">Register</a>
								{% elif session.get('is_teacher') == True %}
									{{ email }} | <a href="/dashboard">Dashboard</a> | <a href="/logout">Sign Out</a>
                                {% else %}
                                    {{ email }} | <a href="/student-dashboard">Dashboard</a> | <a href="/logout">Sign Out</a>
                                {% endif %}
                            </div>
                            <div class="col-sm-4">
                                <a href="http://www.google.com" target="_blank"><img src="/static/images/logo-google.png" class="pull-right"></a>
                            </div>
                        </div>

                        <nav class="navbar navbar-inverse">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="main-menu">
                                <ul class="nav navbar-nav">
									<li><a href="/" {% if path == '/' %}class="active"{% endif %}>Home</a></</li>
									<li><a href="/about" {% if 'about' in path %}class="active"{% endif %}>About</a></li>
									<li><a href="/announcements" {% if 'announcements' in path %}class="active"{% endif %}>Announcements</a></li>
									<li><a href="/rules" {% if 'rules' in path %}class="active"{% endif %}>Rules</a></li>
									<li><a href="/faqs" {% if 'faqs' in path %}class="active"{% endif %}>FAQs</a></li>
									<li><a href="/resources" {% if 'resources' in path %}class="active"{% endif %}>Resources</a></li>
								</ul>
                            </div>
                        </nav>
                    {% endblock menu %}

                    {% if messages|safe %}
                        {% for message in messages %}
                        <p class="alert alert-{{ message[1]|safe }}">
                            <a class="close" data-dismiss="alert">×</a>
                            {{ message[0]|safe }}
                        </p>
                        {% endfor %}
                    {% endif %}

                    {% block content %}
                    {% endblock content %}
                </div>

			</div>

        </div>

        <script src="/static/scripts/bootstrap.min.js"></script>
		<script>
			$(function(){
				$('#left-rail').height(''+$('#main-content').height()+'px');
			});

		  (function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/platform.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>

    </body>

</html>