<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <meta charset="utf-8"/>
        <title>{% block title %}Starter{% endblock %}</title>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script src="/static/scripts/respond.min.js"></script>
		<![endif]-->
        <link rel="stylesheet" href="/static/css/style.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" media="all" /> 
    </head>
    
    <body>
        
        <div class="container">
            
            <div class="row">
			
				<div class="col-sm-3 text-center" id="left-rail">
                    {% block leftrail %}
                    <img src="/static/images/logo-call-to-code.png">
                    <br>
                    <a href="/about">About</a> | <a href="/privacy-policy">Privacy Policy</a> | <a href="/rules">Rules</a><br>
                    g+ B <span class="glyphicon glyphicon-envelope"></span> <span class="glyphicon glyphicon-comment"></span><br>
                    {% endblock leftrail %}
                </div>
				
				<div class="col-sm-9">
                    {% block menu %}
                        <div class="row" style="padding:.5em 0;">
                            <div class="col-sm-4">
                                {% if user == None %}
                                    <a href="{{ login_url }}">Sign in</a> or <a href="{{ login_url }}">Register</a>
                                {% endif %}
                            </div>
                            <div class="col-sm-4 col-sm-offset-4">
                                <a href="google.com"><img src="/static/images/logo-google.png" class="pull-right"></a>
                            </div>
                        </div>
                            
                        <nav class="navbar navbar-inverse">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>                            
                            <div class="collapse navbar-collapse" id="main-menu">
                                <ul class="nav navbar-nav">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    {% if user %}
										{% if session['is_teacher'] == True %}
											<li><a href="/dashboard">Dashboard</a></li>
										{% elif session['is_student'] == True %}
											<li><a href="/student-dashboard">Dashboard</a></li>
										{% endif %}
                                        <li><a href="/logout">Logout</a></li>
                                    {% endif %}
                                    <li><a href="/events">Events</a></li>
                                    <li><a href="/rules">Rules</a></li>
                                    <li><a href="/faqs">FAQs</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    {% endblock menu %}
                    
                    {% if messages|safe %}
                        {% for message in messages %}
                        <p class="alert alert-{{ message[1]|safe }}">
                            <a class="close" data-dismiss="alert">×</a>
                            {{ message[0]|safe }}
                        </p>
                        {% endfor %}
                    {% endif %}
                    
                    {% block content %}
                    {% endblock content %}
                </div>
				
			</div>
            
        </div>        
        
        <script src="/static/scripts/bootstrap.min.js"></script>
        
    </body>
    
</html>