{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<h1>Dashboard</h1>
</div>

<p><a href="/register-student">Register a Student</a></p>

<h2 class="light">Your students</h2>
{% if students.count() %}
    <p>You have registered <strong>{{ students.count() }} student{% if students.count() != 1 %}s{% endif %}</strong> so far. You can review and edit their details below.</p>
    <ul>
        {% for student in students %}
            <li>
				<a href="/edit-student/{{ student.key.id() }}">{{ student.first_name }} {{ student.last_name }} ({{ student.email }})</a>
				{% if student.parental_consent_confirmed %}
					<em>(Parental Consent confirmed)</em>
				{% elif student.parental_consent_received %}
					<em>(Parental Consent received)</em>
				{% else %}
					<em>(Parental Consent pending)</em>
				{% endif %}
			</li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not registered any students yet. <a href="/register-student">Click here</a> to get started.</p>
{% endif %}

{% endblock content %}