{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<h1>Dashboard</h1>
</div>

<h2 class="light">Your students</h2>
{% if students.count() %}
    <p>You have registered <strong>{{ students.count() }} student{% if students.count() != 1 %}s{% endif %}</strong> so far. You can review and edit their details below.</p>
    <ul>
        {% for student in students %}
            <li>
				<a href="/edit-student/{{ student.key.id() }}">{{ student.first_name }} {{ student.last_name }} ({{ student.email }})</a>
				{% if student.parental_consent_confirmed %}
					<em>(Parental Consent confirmed)</em>
				{% elif student.parental_consent_received %}
					<em>(Parental Consent received)</em>
				{% else %}
					<em>(Parental Consent pending)</em>
				{% endif %}
			</li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not registered any students yet. <a href="/register-student">Click here</a> to get started.</p>
{% endif %}

<hr>

<h2 class="light">More Options</h2>

<div class="row" style="margin-top:2em;">
	<div class="col-sm-1 text-right"><img src="/static/images/indicator-large.png"></div>
	<div class="col-sm-8">
		<a href=""><h3 style="margin-top:0;">Download Parental Consent Form</h3></a>
		<p>Once your registration is validated you can download the parental consent forms to hand out to your students. Please send the completed forms to our partner <a href="">Real Nation</a>.</p>
	</div>
	<div class="col-sm-2"><img src="/static/images/icon-form.png"></div>
</div>
<div class="row" style="margin-top:2em;">
	<div class="col-sm-1 text-right"><img src="/static/images/indicator-large.png"></div>
	<div class="col-sm-8">
		<a href="/register-student"><h3 style="margin-top:0;">Register more Students</h3></a>
		<p>Enter all your students who want to take part and confirm that parental consent has been received. We will then email each student to confirm registration.</p>
	</div>
	<div class="col-sm-2"><img src="/static/images/icon-students.png"></div>
</div>

<hr>

<h2 class="light">Resources</h2>

<p>If you can't wait to learn more about Call to Code start by reading the <a href="/rules">Rules</a>, have a look at our <a href="/faqs">Frequently Asked Questions</a> or read the latest <a href="/announcements">Announcements</a>.</p>

{% endblock content %}