{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>Edit Student</h1>
	<p>A bit of detail on what information is required from the teacher to register a student</p>
</div>

<form method="post" name="student-registration" id="student-registration" class="form-horizontal">
    
    <div class="alert alert-danger form-errors" {% if not error_fields %} style="display:none;" {% endif %}>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div class="invalid-fields">
            All highlighted fields below need to be completed.
        </div>
        <div class="email-match" style="display:none;">
            Your Email Address and Confirm Email Address do not match.
        </div>
        <div class="password-match" style="display:none;">
            Your Password and Confirm Password do not match.
        </div>
    </div>
    
    <fieldset style="border-bottom:1px solid #ccc;">
        
        <h2>Personal Details</h2>
        
        <div class="form-group {% if error_fields and 'first_name' in error_fields %}has-error{% endif %}">
            <label for="first_name" class="col-sm-4 control-label"><span class="text-required">*</span> First Name</label>
            <div class="col-sm-8">
                <input type="text" name="first_name" id="first_name" value="{{ student.first_name }}" class="form-control" maxlength="50">
            </div>
        </div>
        
        <div class="form-group {% if error_fields and 'last_name' in error_fields %}has-error{% endif %}">
            <label for="last_name" class="col-sm-4 control-label"><span class="text-required">*</span> Last Name</label>
            <div class="col-sm-8">
                <input type="text" name="last_name" id="last_name" value="{{ student.last_name }}" class="form-control" maxlength="50">
            </div>
        </div>
		
		<!-- <div class="form-group {% if error_fields and 'date_of_birth' in error_fields %}has-error{% endif %}">
			<label for="date_of_birth" class="col-sm-4 control-label"><span class="text-required">*</span> Age</label>
			<div class="col-sm-3">
				<div class="input-group">
					<input type="text" name="date_of_birth" id="date_of_birth" value="{{ student.date_of_birth }}" class="datepicker input-small form-control" maxlength="10">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>
			</div>
		</div> -->
        
        <div class="form-group {% if error_fields and 'email' in error_fields %}has-error{% endif %}">
            <label for="email" class="col-sm-4 control-label"><span class="text-required">*</span> GMAIL Address</label>
            <div class="col-sm-8">
                <input type="text" name="email" id="email" value="{{ student.email }}" class="form-control" maxlength="50">
            </div>
        </div>
        
    </fieldset>
    
    <fieldset style="border-bottom:1px solid #ccc;">
        
        <h2>School Details</h2>
        
        <div class="form-group {% if error_fields and 'school_cycle' in error_fields %}has-error{% endif %}">
            <label for="school_cycle" class="col-sm-4 control-label"><span class="text-required">*</span> School Cycle</label>
            <div class="col-sm-8">
				<select name="school_cycle" id="school_cycle" class="form-control">
                    <option value="">Please select</option>
                    <option {% if student.school_cycle == 'Junior' %}selected="selected"{% endif %}>Junior</option>
                    <option {% if student.school_cycle == 'Senior' %}selected="selected"{% endif %}>Senior</option>
                </select>
            </div>
        </div>
        
        <div class="form-group {% if error_fields and 'subject' in error_fields %}has-error{% endif %}">
            <label for="subject" class="col-sm-4 control-label"><span class="text-required">*</span> Subject</label>
            <div class="col-sm-8">
                <select name="subject" id="subject" class="form-control">
                    <option value="">Please select</option>
                    <option {% if student.subject == 'Maths' %}selected="selected"{% endif %}>Maths</option>
					<option {% if student.subject == 'Science' %}selected="selected"{% endif %}>Science</option>
					<option {% if student.subject == 'Technology' %}selected="selected"{% endif %}>Technology</option>
					<option {% if student.subject == 'Engineering' %}selected="selected"{% endif %}>Engineering</option>
					<option {% if student.subject == 'Computer Studies' %}selected="selected"{% endif %}>Computer Studies</option>
					<option {% if student.subject == 'Other' %}selected="selected"{% endif %}>Other</option>
                </select>
            </div>
        </div>
        
    </fieldset>
    
    <fieldset>
        
        <h2>Parental Consent</h2>
        
        <div class="col-sm-8 col-sm-offset-4">
            
			<div class="checkbox">
				<label>
					<input type="checkbox" name="parental_consent_received" id="parental_consent_received" value="1" {% if student.parental_consent_received %}checked{% endif %}> I have written parental consent for this student to enter the Google Call to Code competition. I will post the consent form for verification to <a href="">Real Nation</a>.
					<br>
					<br>
					<small><em>- You can save and complete this registration later if you are awaiting parental consent.</em></small>
					<br>
					<small><em>- Parental Consent forms need to be posted to our partner <a href="">Real Nation</a> for veification.</em></small>
				</label>
			</div>
        
		</div>
        
    </fieldset>
	
	<div class="col-sm-8 col-sm-offset-4">
            
		<input type="image" src="/static/images/button-save.png" alt="Save">
		
	</div>
    
</form>

{% include "register-validator.html" %}

{% block mediajs %}
<script>
	$(function(){
		$('.datepicker').datepicker({
			changeMonth: true,
			changeYear: true
		});
	});
</script>
{% endblock mediajs %}

{% endblock content %}