{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<h1>FAQs</h1>
</div>

<h2 class="light">Who can participate?</h2>
<p>Qualifying students in Ireland (see Rules for qualification) between the ages of 13 and 18 are encouraged to participate, and need not have a background in programming. </p>

<h2 class="light">Do I need to know how to program to participate?</h2>
<p>While some of the questions require knowing programming languages, others are based on logic puzzles for which nothing except thinking is required. </p>

<h2 class="light">How do I sign up without a teacher?</h2>
<p><a href="">Click here to sign up without a teacher</a>. You will need to download the parental consent form and send it in to Real Nation before you can complete registration.</p>


{% endblock content %}