{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<h1>Frequently Asked Questions</h1>
</div>

<p><strong>Who can participate?</strong><br>
Qualifying students in Ireland (see Rules for qualification) between the ages of 13 and 18 are encouraged to participate, and need not have a background in programming. </p>

<p><strong>Do I need to know how to program to participate?</strong><br>
While some of the questions require knowing programming languages, others are based on logic puzzles for which nothing except thinking is required. </p>

<p><strong>How do I sign up without a teacher?</strong><br>
Click here to sign up without a teacher. You will need to download the parental consent form and send it in to Real Nation before you can complete registration.</p>


{% endblock content %}