{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>What is Call to Code?</h1>
    <p style="padding:0 2em 2em 2em;">Call to Code is a Google sponsored online competition open to students aged 13-18, specifically in Ireland. This friendly competition includes both logic puzzles and programming tasks designed specifically for junior level and senior level cycles, respectively.</p>
</div>

<div class="row home-intro">
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-2">
				<h1>1</h1>
			</div>
			<div class="col-sm-10">
				<h3 class="light">Register</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7 col-sm-offset-2">
				Register, download parental consent, and send in a signed copy. It’s that easy to begin!
			</div>
			<div class="col-sm-3">
				<img src="/static/images/icon-register.png" class="pull-right" style="vertical-align:baseline;">
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-2">
				<h1>2</h1>
			</div>
			<div class="col-sm-10">
				<h3 class="light">Code</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7 col-sm-offset-2">
				Sign in on our website March 31, 2014 between the hours of x and y and start problem solving. Winners of Round 1 are invited to Google Dublin to participate in the Final Round of the contest. 
			</div>
			<div class="col-sm-3">
				<img src="/static/images/icon-code.png" class="pull-right" style="vertical-align:baseline;">
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-2">
				<h1>3</h1>
			</div>
			<div class="col-sm-10">
				<h3 class="light">Win</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7 col-sm-offset-2">
				Final Round contestants will compete onsite at our Google Dublin office on May 1, 2014 for top spots and prizes.
			</div>
			<div class="col-sm-3">
				<img src="/static/images/icon-win.png" class="pull-right" style="vertical-align:baseline;">
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="media">
            <img class="pull-left" src="/static/images/icon-call-to-teachers.png">
            <div class="media-body">
                <h2 class="media-heading">Call to Teachers</h2>
                <p>Register your students to participate in Call to Code for the chance to win great prizes for them and your school.</p>
                <a href="/register"><img src="/static/images/button-register-now.png" alt="Register now"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="media">
            <img class="pull-left" src="/static/images/icon-call-to-students.png">
            <div class="media-body">
                <h2 class="media-heading">Call to Students</h2>
                <p>Get ready to win! Start practicing now through the great resources available on our Resources page. </p>
				<p class="small">Want to register without a teacher? <a href="">Here's how</a>.</p>
                <a href="/learn-to-code"><img src="/static/images/button-learn-to-code.png" alt="Learn to code"></a>
            </div>
        </div>
    </div>
</div>

<hr style="margin:2em 0;">

<h2 class="light">Announcements</h2>
<div class="row">
    
    <div class="col-sm-1">
        <img src="/static/images/icon-announcements.png">
    </div>
    <div class="col-sm-11">
        <p>
            <em>Friday 17th January 2014</em><br>
            Google Call to Code online registration date announced - get ready to join on the 31st of March 2014!
        </p>
        
        <p>
            <em>Wednesday 11th December 2013</em><br>
            Google announce new Call to Code competition for 13 to 18 year old students in Ireland.
        </p>
        
        <p>
            <em>Tuesday 03rd December 2013</em><br>
            Another announcement from Call to Code to go here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
</div>

{% endblock content %}