{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<h1>Learn to Code</h1>
	<p style="padding:0 6em 2em 6em;">There are many resources available to students who are interested in computer science. We have compiled a few of these resources below as a starting point for contestants who would like to practice prior to the Call to Code competition. These are just a few suggestions; there are many more resources available, and we encourage you to find the one(s) that work best for you. </p>
</div>

<h2 class="light">Beginner</h2>
<p><a href="">Blockly</a><br>
Blockly will take you from the very basics all the way to creating your own code in JavaScript, Python, or XML through a series of activities. This visual programming platform is drag and drop, requiring no typing.</p>

<p><a href="">Codeacademy</a><br>
Learn to code using JavaScript, HTML/CSS, PHP, Python, Ruby and/or APIs directly in your browser with Codecademy.</p>

<p><a href="">Code.org</a><br>
Code.org has a variety of tutorials and programs for those just starting out. Write your first program by solving mazes, learn JavaScript in an hour, or begin playing with Python through Code.org partners.</p>

<p><a href="">Scratch</a><br>
Create games, videos, stories or animations with this block-based programming platform perfect for beginners. For the slightly more advanced, you can remix projects other people have submitted to put your own spin on them. </p>

<hr style="margin:2em 0;">

<h2 class="light">Intermediate</h2>

<p><a href="">App Inventor</a><br>
Create your own working mobile app on your Android device (or use the online emulator if you don’t have an Android device) with App Inventor. </p>

<p><a href="">MaKeyMakey</a><br>
Get creative with this invention kit that allows you to make any conductive material into a key that controls programs on your computer--try bananas, modeling clay, or even yourself. MaKey MaKey works great with Scratch programs. </p>

<p><a href="">Udacity</a><br>
Build your own search engine or try your hand at problem solving with Java in one of these comprehensive online courses. </p>

<hr style="margin:2em 0;">


<h2 class="light">Advanced</h2>

<p><a href="">Project Euler</a><br>
Solve a series of challenging mathematical and computer programming problems on the Project Euler website and get ready to solve problems for Call to Code.  

<p><a href="">Raspberry Pi</a><br>
With this inexpensive and programmable mini-computer, you can learn to program just about anything. Raspberry Pi takes a little more set-up and dedication in order to get the hang of it, making it perfect for advanced students.









{% endblock content %}