{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>Thank you!</h1>
    <p style="padding:0 6em 2em 6em;">Quick thank you message to display here after the teacher completed the initial registration. Give positive feedback and outline what happens next.</p>
</div>

<h2 class="light">What happens next?</h2>
<div class="row">
	<div class="col-sm-2 text-center"><h1 style="font-size:95px;color:#cccccc;">1</h1></div>
	<div class="col-sm-8">
		<h3>Download Parental Consent Forms</h3>
		<p>Once your registration is validated you can download the parental consent forms to hand out to your students. Please send the completed forms to our partner <a href="">Real Nation</a>.</p>
	</div>
	<div class="col-sm-2"><img src="/static/images/icon-form.png"></div>
</div>
<div class="row">
	<div class="col-sm-2 text-center"><h1 style="font-size:95px;color:#cccccc;">2</h1></div>
	<div class="col-sm-8">
		<h3>Register your Students</h3>
		<p>Enter all your students who want to take part and confirm that parental consent has been received. We will then email each student to confirm registration.</p>
	</div>
	<div class="col-sm-2"><img src="/static/images/icon-students.png"></div>
</div>
<div class="row">
	<div class="col-sm-2 text-center"><h1 style="font-size:95px;color:#cccccc;">3</h1></div>
	<div class="col-sm-8">
		<h3>Ready, set, code</h3>
		<p>You will recieve the competition schedule and more information as soon as possible to get your students all ready to start coding.</p>
	</div>
	<div class="col-sm-2"><img src="/static/images/icon-calendar.png"></div>
</div>

<hr style="margin:2em 0;">

<h2 class="light">Want to know more?</h2>
<p>If you can't wait to learn more about Call to Code start by reading the <a href="/rules">Rules</a>, have a look at our <a href="/faqs">Frequently Asked Questions</a> or read the <a href="/news">News</a>.</p>

{% endblock content %}