{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>Thank you!</h1>
    <p style="padding:0 6em 2em 6em;">You have completed the initial registration process. Only a few more steps and you’re ready to go!</p>
</div>

<h2 class="light">What happens next?</h2>
<div class="row">
	<div class="col-sm-2 text-center"><h1 style="font-size:95px;color:#cccccc;">1</h1></div>
	<div class="col-sm-8">
		<a href=""><h3>Download Parental Consent Form</h3></a>
		<p>Every student you register will need to have signed parental consent to participate. Download the form, send it home with your students, and post the signed forms to our partner Real Nation via mail or email [give mailing and email address]. As soon as we receive the form, we will send an email to that student with instructions for how to register her/himself for the competition.</p>
	</div>
	<div class="col-sm-2"><img src="/static/images/icon-form.png"></div>
</div>
<div class="row">
	<div class="col-sm-2 text-center"><h1 style="font-size:95px;color:#cccccc;">2</h1></div>
	<div class="col-sm-8">
		<a href="/register-student"><h3>Register your Students</h3></a>
		<p>Each student will need parental consent before they are in the system. However, you can get started on registration now, and once the sent parental consent form has been received, you will be able to complete the process. </p>
	</div>
	<div class="col-sm-2"><img src="/static/images/icon-students.png"></div>
</div>
<div class="row">
	<div class="col-sm-2 text-center"><h1 style="font-size:95px;color:#cccccc;">3</h1></div>
	<div class="col-sm-8">
		<h3>Ready, set, code</h3>
		<p>When you and your students have completed the registration process, you will get an email with details about the competition and what to expect. </p>
	</div>
	<div class="col-sm-2"><img src="/static/images/icon-calendar.png"></div>
</div>

<hr style="margin:2em 0;">

<h2 class="light">Want to know more?</h2>
<p>For complete information on Call to Code, please look over the Rules [link] and Events [link] pages. If you have questions, look over our Frequently Asked Questions [link] to learn more.</p>

{% endblock content %}