{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<h1>Dashboard</h1>
</div>

<h2 class="light">Welcome to Call to Code!</h2>

<div class="row">
    <div class="col-sm-10">Display appropriate message depending on the stage of the competition here. It should give the students a brief overview of the contest requirements to tell them what they can expect during and after they have completed the competition. Post Competition messaging to include either congratulation messaging or sorry you did not make it to the next round messaging.</div>
    <div class="col-sm-2"><img src="/static/images/icon-code.png"></div>
</div>

<hr>

<div class="row" style="margin-top:2em;">
	<div class="col-sm-1 text-right"><img src="/static/images/indicator-large.png"></div>
	<div class="col-sm-10">
		<a href="/cf/start-coding"><h3 style="margin-top:0;">Start Coding</h3></a>
		<p>On competition days "a burst" will be placed on the Dashboard which when clicked will access the Codeforces environment within an iFrame.</p>
	</div>
</div>

<hr>

<h2 class="light">Resources</h2>

<p>If you can't wait to learn more about Call to Code start by reading the <a href="/rules">Rules</a>, have a look at our <a href="/faqs">Frequently Asked Questions</a> or read the latest <a href="/announcements">Announcements</a>.</p>


{% endblock content %}